{% extends 'base.html' %}

{% block content %}
  <h1>About Read it, baby!</h1>
  <hr />
  <p>Reading plays a pivotal role in shaping individuals and societies. The importance of reading lies in its ability to foster intellectual growth, expand knowledge, and ignite imagination. By reading extensively, individuals acquire valuable insights, gain diverse perspectives, and develop critical thinking skills. Through reading individuals can unlock their full potential, broaden their horizons, and become active participants in the global community. We are here to help you read to your babies 👶🏿👶🏻👶🏽</p>
  <footer>All Rights Reserved, &copy; 2023 Bravo Six</footer>  
{% endblock %}